# OS
.DS_Store
Thumbs.db

# Binaries for programs and plugins
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# Locally installed dependencies
vendor/

# Config files
config.toml
.env

# Editor/IDE
.idea/
.vscode/
.cursor/
.editorconfig
